.btn {
  grid-column: span 2;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: .5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;

  &:hover {
    background-color: #FFFFFF33;
  }
}