.form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
}
label {
  font-weight: bold;
}
.character-amount-container {
  display: flex;
  align-items: center;
}
.number-input {
  width: 2rem;
}