body{
  background-color: $background-color;
  margin: 0;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font;
}
.container {
  background-color: $container-background-color;
  padding: 3rem;
  border-radius: 1rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  margin: 0;
  text-align: center
}
.password-display {
  background-color: white;
  color: black;
  padding: 1rem;
  border: 1px solid #333;
  height: 2rem;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  border-radius: .5rem;
}